body    { font-family: Sans-Serif; font-size: 75%; text-align: left; }
nav img { width: 1.2em; height: 1.2em; margin-right: 0.5em; vertical-align: text-bottom }
footer  { font-style: italic; font-size: 0.8em; margin-top: 3rem; }

table   { border: 1px solid; border-collapse: collapse }
th, td  { padding: 0.5rem; border: 1px solid }

.row-inactive { background-color: #ffdddd }
.row-normal   { background-color: #ffffff }
.row-recent   { background-color: #ddffdd }
.row-new      { background-color: #ffffdd }
.row-fixed    { background-color: #ddffdd }

.col-text     { padding:0.5rem; border:1px solid }
.col-date     { text-align: center; padding: 0.5rem; border: 1px solid }
.col-count    { text-align: center; padding: 0.5rem; border: 1px solid }
.col-percent  { text-align: center; padding: 0.5rem; border: 1px solid }

#maintainers div.multicol { column-width: 20rem }
#slackbuilds div.multicol { column-width: 10rem }
.multicol p  { margin: 0 0 0.5em 0; padding: 0 0 0 0 }


/* popup stuff */

.t  { height: 320px; overflow-y:auto }

.modal {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9;
    opacity:0;
    pointer-events: none;
  }
.modal:target { opacity: 1; pointer-events:auto }
.modal > div {
    width: 400px; height: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 5px 5px 5px;
    background: #ffffff;
  }

.closebutton {
    color: #ffffff; background: #606060;
    -webkit-box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    position: absolute;
    line-height: 24px; width: 24px;
    right: 0; top: 0;
    text-align: center; text-decoration: none;
  }
.closebutton:hover { color: #ffffff; background: #ff4444; }
