<head>
<meta charset="utf-8">
<title>{{ page_title }}</title>
<link rel="stylesheet" href="{{ siteurl }}/support/style.css">
<link rel="icon" type="image/png" href="{{ siteurl }}/support/favicon.png">
<script src="{{ siteurl }}/support/sorttable.js"></script>
</head>
