<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

<section id="statistics">
<h3>Statistics</h3>
<ul>
  <li>Site updated: {{ page_datetime }}</li>
  <li>SlackBuilds: {{ Stats["slackbuilds.count"] }} ({{ Stats["slackbuilds.uptodate"] }} up-to-date, {{ Stats["slackbuilds.outofdate"] }} out-of-date)</li>
  <li>Maintainers: {{ Stats["maintainers.count"] }} ({{ Stats["maintainers.recent"] }} recent, {{ Stats["maintainers.inactive"] }}inactive)</li>
  <li>Problems: {{ Stats["problems.count"] }}</li>
</ul>
</section>

<section id="reports">
<h3>Reports</h3>
<ul>
  <li><a href="{{ siteurl }}/reports/maintainers.html">Maintainers report</a></li>
  <li><a href="{{ siteurl }}/reports/problems.html">Problems report</a></li>
</ul>
</section>

<section id="browse">
<h3>Browse</h3>
<ul>
  <li><a href="{{ siteurl }}/maintainers/">Maintainer details</a></li>
  <li><a href="{{ siteurl }}/slackbuilds/">SlackBuild details</a></li>
  <li><a href="{{ siteurl }}/buildlogs/">Build logs</a></li>
</ul>
</section>

<footer>
<p>{{ ident }}</p>
</footer>

</body>
</html>
