<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

<section id="emails">
<h2>emails</h2>
{% for e in TemplateData['email_list'] %}
<p>
  {% e %}
  <br><a href="https://repology.org/metapackages/?maintainer={{ e }}" target="_blank">Repology</a>
</p>
<p>Last commit <i>not yet implemented</i></p>
</section>

<section id="slackbuilds">
<h2>slackbuilds</h2>

<table class="sortable">

{% for sb in TemplateData['slackbuilds'] %}
<p>
  <a href="{{ siteurl}}/slackbuilds/{{ sb }}" target="_blank">{{ sb }}</a>
</p>

</table>

</section>

<section id="problems">
<h2>problems</h2>
<p><i>not yet implemented</i></p>
</section>

{% include 'footer.jinja2' %}

</body>
</html>


<!--

{% for mntnam, mntdeets in TemplateData.items() %}
<div id="sb{{ mntdeets['mntnum'] }}" class="modal">
  <div>
    <a href="#close" title="Close" class="closebutton">&otimes;</a>
    <h3>{{ mntnam }}</h3>
    <p class="t">{{ mntdeets["slackbuilds"]|sort|join("<br>") }}</p>
  </div>
</div>
{% endfor %}

-->
