<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

<section id="maintainers">
<div class="multicol">
{% for mntname, mntinfo in TemplateData %}
<p><a href="{{ siteurl}}/maintainers/{{ mntinfo['email'] }}">{{ mntname }} &lt;{{ mntinfo['email'] }}&gt;</a></p>
{% endfor %}
</div>
</section>

{% include 'footer.jinja2' %}

</body>
</html>
