<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

<section id="statistics">
<h2>Statistics</h2>
<p>SlackBuilds
  <br>&nbsp;&nbsp;&nbsp;total: {{ "{:d}".format(Stats["slackbuilds.count"]) }}
  <br>&nbsp;&nbsp;&nbsp;newest: {{ "{:d} ({:.1f}%)".format(Stats["slackbuilds.uptodate"],Stats["slackbuilds.uptodate"]*100/Stats["slackbuilds.count"]) }}
  <br>&nbsp;&nbsp;&nbsp;out of date: {{ "{:d} ({:.1f}%)".format(Stats["slackbuilds.outofdate"],Stats["slackbuilds.outofdate"]*100/Stats["slackbuilds.count"]) }}
</p>
<p>Maintainers
  <br>&nbsp;&nbsp;&nbsp;total: {{ Stats["maintainers.count"] }}
  <br>&nbsp;&nbsp;&nbsp;active: {{ "{:d} ({:.1f}%)".format(Stats["maintainers.active"],Stats["maintainers.active"]*100/Stats["maintainers.count"]) }} since 14.2
  <br>&nbsp;&nbsp;&nbsp;recent: {{ "{:d} ({:.1f}%)".format(Stats["maintainers.recent"],Stats["maintainers.recent"]*100/Stats["maintainers.count"]) }} last 180 days
  <br>&nbsp;&nbsp;&nbsp;recent: {{ "{:d} ({:.1f}%)".format(Stats["maintainers.inactive"],Stats["maintainers.inactive"]*100/Stats["maintainers.count"]) }} before 14.2
</p>
</section>

<section id="report">

<table class="sortable">

<thead>
  <tr>
    <th class="col-text"><a href="#!">Maintainer</a></th>
    <th class="col-date"><a href="#!">Latest</a></th>
    <th class="col-count"><a href="#!">SlackBuilds</a></th>
    <th class="col-count"><a href="#!">Newest</a></th>
    <th class="col-percent"><a href="#!">%</a></th>
    <th class="col-count"><a href="#!">Out of date</a></th>
    <th class="col-percent"><a href="#!">%</a></th>
  </tr>
</thead>

<tbody>
{% for mntnam, mntdeets in TemplateData|dictsort(true) %}
  <tr id="m{{ mntdeets['mntnum'] }}" class="{{ 'row-'+mntdeets['status'] }}">
    <td class="col-text">{{ mntdeets["tdmaintainer"] }}</td>
    <td class="col-date">{{ mntdeets["tdlatest"] }}</td>
    <td class="col-count"><a href="#sb{{ mntdeets["mntnum"] }}">{{ mntdeets["tdslackbuilds"] }}</a></td>
    <td class="col-count">{{ mntdeets["tdnewest"] }}</td>
    <td class="col-percent">{{ mntdeets["tdnewestpct"] }}</td>
    <td class="col-count">{{ mntdeets["tdoutofdate"] }}</td>
    <td class="col-percent">{{ mntdeets["tdoutofdatepct"] }}</td>
  </tr>
{% endfor %}
</tbody>

</table>

</section>

{% include 'footer.jinja2' %}

</body>
</html>
