<nav>
<a href="{{ siteurl }}"><img src="{{ siteurl }}/support/sbo-dashboard.png" alt="">home</a> |
<a href="{{ siteurl }}/maintainers/">maintainers</a> |
<a href="{{ siteurl }}/slackbuilds/">slackbuilds</a> |
<a href="{{ siteurl }}/buildlogs/">build logs</a> |
<a href="{{ siteurl }}/reports/maintainers.html">maintainers report</a> |
<a href="{{ siteurl }}/reports/problems.html">problems report</a>
</nav>
