<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

<section>
<p>Problems: {{ "{:d}".format(Stats["problems.count"]) }}</p>
</section>

<section>

<table class="sortable">

<thead>
  <tr>
    <th class="text"><a href="#!">catnam</a></th>
    <th class="text"><a href="#!">prgnam</a></th>
    <th class="text"><a href="#!">source</a></th>
    <th class="text"><a href="#!">problem type</a></th>
    <th class="text"><a href="#!">description</a></th>
    <th class="date"><a href="#!">since</a></th>
    <th class="text"><a href="#!">status</a></th>
    <th class="text"><a href="#!">maintainer</a></th>
  </tr>
</thead>

<tbody>
{% for prgnam, problems in TemplateData|dictsort(True) %}
{% for p in problems %}
  <tr class="{{ p['status'] }}">
    <td class="text">{{ Lookup[prgnam]['catnam'] }}</td>
    <td class="text"><a href="{{ siteurl }}/slackbuilds/{{ Lookup[prgnam]['catnam'] }}/{{ prgnam }}" target="_blank">{{ prgnam }}</a></td>
    <td class="text">{{ p['source'] }}</td>
    <td class="text">{{ p['type'] }}</td>
{% if p['type'] == 'homepage' %}
    <td class="text">{{ p['desc']|urlize(40,target='_blank') }}</td>
{% else %}
    <td class="text">{{ p['desc'] }}</td>
{% endif %}
    <td class="date">{{ p['since'] }}</td>
    <td class="text">{{ p['status'] }}</td>
    <td class="text"><a href="{{ siteurl }}/maintainers/{{ Lookup[prgnam]['email'] }}" target="_blank">{{ Lookup[prgnam]['maintainer'] }}</a></td>
  </tr>
{% endfor %}
{% endfor %}
</tbody>

</table>

</section>

{% include 'footer.jinja2' %}

</body>
</html>
