<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

<p>Version<b> {{ TemplateData['version'] }}</b></p>
<p>
  <a href="https://git.slackbuilds.org/slackbuilds/commit/?id={{ TemplateData['commithash'] }}" target="_blank">Newest commit</a>
  <br>{{ TemplateData['commitdate'] }}
  <br>{{ TemplateData['commitsubj'] }}
</p>
<p><a href="https://git.slackbuilds.org/slackbuilds/log/{{ TemplateData['catnam'] }}/{{ TemplateData['prgnam'] }}" target="_blank">Commit history</a></p>
<p>Maintainer <a href="{{ siteurl }}/maintainers/{{ TemplateData['email'] }}" target="_blank">{{ TemplateData['maintainer'] }}</a></p>
<p><a href="https://repology.org/metapackages/?search={{ TemplateData['prgnam'] }}" target="_blank">Repology</a></p>
<p><a href="https://slackbuilds.org/repository/14.2/{{ TemplateData['catnam'] }}/{{ TemplateData['prgnam'] }}/" target="_blank">SlackBuilds.org</a></p>
<p><a href="{{ siteurl }}/buildlogs/{{ TemplateData['catnam'] }}/{{ TemplateData['prgnam'] }}/" target="_blank">Build logs</a> <i>not yet implemented</i></p>
<p>Problems <i>not yet implemented</i></p>
<p><a href="{{ TemplateData['homepage'] }}" target="_blank">Homepage</a></p>

{% include 'footer.jinja2' %}

</body>
</html>
