<!DOCTYPE html>
<html>

{% include 'head.jinja2' %}

<body>

{% include 'nav.jinja2' %}

<h1>{{ page_title }}</h1>

{% for catnam, prgnamlist in TemplateData|dictsort(True) %}
<section id="{{ catnam }}">
<h2>{{ catnam }}</h2>
<div class="multicol">
{% for prgnam in prgnamlist|sort(case_sensitive=True) %}
<p><a href="{{ siteurl}}/slackbuilds/{{ catnam }}/{{ prgnam }}">{{ prgnam }}</a></p>
{% endfor %}
</div>
</section>
{% endfor %}

{% include 'footer.jinja2' %}

</body>
</html>
